<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>emsOnlineApikey</name>
            <copyable>true</copyable>
            <label>EMS Online API-Key</label>
            <label lang="de-DE">EMS Online API-Schlüssel</label>
            <label lang="nl-NL">EMS Online API-sleutel</label>
            <label lang="fr-FR">EMS Online Clé API</label>
            <helpText>EMS PAY API key is required. Duplicate your ENS PAY API keys from Merchant Portal.</helpText>
            <helpText lang="de-DE">EMS PAY API Schlüssel ist erforderlich. Duplizieren Sie Ihre ENS PAY API Schlüssel von Merchant Portal.</helpText>
            <helpText lang="nl-NL">EMS PAY API-sleutel is vereist. Dupliceer uw ENS PAY API-sleutels van Merchant Portal.</helpText>
            <helpText lang="fr-FR">La clé API EMS PAY est requise. Dupliquez vos clés API ENS PAY à partir du portail marchand.</helpText>
        </input-field>

        <input-field type="bool">
            <name>emsOnlineBundleCacert</name>
            <defaultValue>true</defaultValue>
            <label>EMS Online CaCert</label>
            <helpText>Use the cURL CA bundle.</helpText>
            <helpText lang="de-DE">cURL CA bündel benutzen.</helpText>
            <helpText lang="nl-NL">Gebruik de cURL CA-bundle.</helpText>
            <helpText lang="fr-FR">Utilisez le bundle cURL CA.</helpText>
        </input-field>

        <input-field type="bool">
            <name>emsOnlineUseWebhook</name>
            <defaultValue>true</defaultValue>
            <label>EMS Online Webhook</label>
            <helpText>Use the webhook.</helpText>
            <helpText lang="de-DE">Verwenden Sie den Webhook.</helpText>
            <helpText lang="nl-NL">Gebruik de webhook.</helpText>
            <helpText lang="fr-FR">Utilisez le webhook.</helpText>
        </input-field>

        <input-field>
            <name>emsOnlineKlarnaTestApikey</name>
            <copyable>true</copyable>
            <label>EMS Online Klarna Test API-Key</label>
            <label lang="de-DE">EMS Online Klarna Test API-Schlüssel</label>
            <label lang="nl-NL">EMS Online Klarna Test API-sleutel</label>
            <label lang="fr-FR">EMS Online Klarna Test Clé API</label>
            <helpText>Enter the API Key of the test webshop here for testing Klarna Pay Later. If you do not offer Klarna Pay Later you can leave this empty.</helpText>
            <helpText lang="de-DE">Geben Sie hier den API-Schlüssel des Test-Webshops ein, um Klarna Pay Later zu testen. Wenn Sie Klarna Pay Later nicht anbieten, können Sie dies leer lassen.</helpText>
            <helpText lang="nl-NL">Voer hier de API Key van de test webshop in om Klarna Pay Later te testen. Als u Klarna Pay Later niet aanbiedt, kunt u dit leeg laten.</helpText>
            <helpText lang="fr-FR">Saisissez ici la clé API de la boutique en ligne de test pour tester Klarna Pay Later. Si vous ne proposez pas Klarna Pay Later, vous pouvez laisser ce champ vide.</helpText>
        </input-field>

        <input-field>
            <name>emsOnlineAfterpayTestApikey</name>
            <copyable>true</copyable>
            <label>EMS Online Afterpay Test API-Key</label>
            <label lang="de-DE">EMS Online Afterpay Test API-Schlüssel</label>
            <label lang="nl-NL">EMS Online Afterpay Test API-sleutel</label>
            <label lang="fr-FR">EMS Online Afterpay Test Clé API</label>
            <helpText>Enter the API Key of the test webshop here for testing AfterPay. If you do not offer AfterPay you can leave this empty.</helpText>
            <helpText lang="de-DE">Geben Sie hier den API-Schlüssel des Test-Webshops ein, um AfterPay zu testen. Wenn Sie AfterPay nicht anbieten, können Sie dieses Feld leer lassen.</helpText>
            <helpText lang="nl-NL">Voer hier de API Key van de test webshop in om AfterPay te testen. Als u AfterPay niet aanbiedt, kunt u dit leeg laten.</helpText>
            <helpText lang="fr-FR">Saisissez ici la clé API de la boutique en ligne de test pour tester AfterPay. Si vous n'offrez pas AfterPay, vous pouvez le laisser vide.</helpText>
        </input-field>

        <input-field>
            <name>emsOnlineAfterpayTestIP</name>
            <copyable>true</copyable>
            <label>EMS Online Afterpay Test IP address</label>
            <label lang="de-DE">EMS Online Afterpay Test IP-Adresse</label>
            <label lang="nl-NL">EMS Online Afterpay Test IP-adres</label>
            <label lang="fr-FR">Adresse IP du test EMS Online Afterpay</label>
            <helpText>You can specify specific IP addresses for which the Afterpay payment method is visible, eg if you want to test (for example: 128.0.0.1, 255.255.255.255). If you do not enter anything, the payment method is visible for all IP addresses.</helpText>
            <helpText lang="de-DE">Sie können bestimmte IP-Adressen angeben, für die AfterPay sichtbar ist, z. B. wenn Sie AfterPay testen möchten. Sie können IP-Adressen als 128.0.0.1, 255.255.255.255 eingeben. Wenn Sie dieses Feld leer lassen, ist AfterPay für alle IP-Adressen sichtbar.</helpText>
            <helpText lang="nl-NL">U kunt specifieke IP-adressen specificeren waarvoor AfterPay zichtbaar is, bijvoorbeeld als u AfterPay wilt testen. U kunt IP-adressen typen als 128.0.0.1, 255.255.255.255. Als je dit leeg laat is AfterPay zichtbaar voor alle IP-adressen.</helpText>
            <helpText lang="fr-FR">Vous pouvez spécifier des adresses IP spécifiques pour lesquelles AfterPay est visible, par exemple si vous souhaitez tester AfterPay. Vous pouvez taper des adresses IP comme 128.0.0.1, 255.255.255.255. Si vous laissez ce champ AfterPay vide, il est visible par toutes les adresses IP.</helpText>
        </input-field>

        <input-field>
            <name>emsOnlineKlarnaPayLaterTestIP</name>
            <copyable>true</copyable>
            <label>EMS Online Klarna Pay Later Test IP address</label>
            <label lang="de-DE">EMS Online Klarna Pay Later Test IP-Adresse</label>
            <label lang="nl-NL">EMS Online Klarna Pay Later Test IP-adres</label>
            <label lang="fr-FR">Adresse IP du test EMS Online Klarna Pay Later</label>
            <helpText>You can specify specific IP addresses for which the Klarna is used Payment Later payment method is visible, eg if you want to test (for example: 128.0.0.1, 255.255.255.255). If you do not enter anything, the payment method is visible for all IP addresses.</helpText>
            <helpText lang="de-DE">Sie können bestimmte IP-Adressen angeben, für die Klarna Pay Later sichtbar ist, z. B. wenn Sie Klarna Pay Later testen möchten. Sie können IP-Adressen als 128.0.0.1, 255.255.255.255 eingeben. Wenn Sie dieses Feld leer lassen, ist Klarna Pay Later für alle IP-Adressen sichtbar.</helpText>
            <helpText lang="nl-NL">U kunt specifieke IP-adressen specificeren waarvoor Klarna Pay Later zichtbaar is, bijvoorbeeld als u Klarna Pay Later wilt testen. U kunt IP-adressen typen als 128.0.0.1, 255.255.255.255. Als je dit leeg laat is Klarna Pay Later zichtbaar voor alle IP-adressen.</helpText>
            <helpText lang="fr-FR">Vous pouvez spécifier des adresses IP spécifiques pour lesquelles Klarna Pay Later est visible, par exemple si vous souhaitez tester Klarna Pay Later. Vous pouvez taper des adresses IP comme 128.0.0.1, 255.255.255.255. Si vous laissez ce champ Klarna Pay Later vide, il est visible par toutes les adresses IP.</helpText>
        </input-field>
    </card>
</config>
