{% sw_extends '@Storefront/storefront/component/payment/payment-fields.html.twig' %}
{% block component_payment_method_control %}
    {{ parent() }}
    {% if payment.customFields.payment_name is same as('emspay_ideal') %}
        <select id="emspay_issuer" name="emspay_issuer_id">
            <option value="">Choose your bank</option>
            {% for issuer in payment.customFields.issuers %}
                <option value="{{ issuer.id }}"
                        {% if payment.customFields.issuer_id is same as(issuer.id) %}selected="selected"{% endif %}>
                    {{ issuer.name }}
                </option>
            {% endfor %}
        </select>
    {% endif %}
    {% if payment.customFields.payment_name is same as('emspay_afterpay') %}
        <div>
            <label>Please enter your date of birth in the format Year/Month/Day (YYYY/MM/DD)</label><br>
            <span id="emspay_birthday_error_message" style="visibility: hidden; color: red;">The date is invalid, or in invalid format</span><br>
            <span>Birthday:</span> <input type='text' value="{{ payment.customFields.emspay_birthday }}"
                                          name='emspay_birthday' id='emspay_birthday'>
        </div>
        <script type="text/javascript">
            document.getElementById('emspay_birthday').addEventListener('change', function () {
                let is_date = this.value.match(/([12]\d{3}\/(0[1-9]|1[0-2])\/(0[1-9]|[12]\d|3[01]))/);
                if (!is_date) {
                    document.getElementById('emspay_birthday_error_message').style.visibility = "visible";
                    this.style.borderColor = "red";
                    set_buttons_disabled_state(true);
                } else {
                    document.getElementById('emspay_birthday_error_message').style.visibility = "hidden";
                    this.style.borderColor = 'green';
                    set_buttons_disabled_state(false);
                }
            });
            document.getElementById('confirmPaymentForm').addEventListener('change', function () {
                let is_checked = document.getElementById('emspay_birthday').parentElement.parentElement.querySelector('input[type=radio]:checked');
                console.log(is_checked);
                if (is_checked == null) {
                    set_buttons_disabled_state(false);
                } else {
                    let is_date = document.getElementById('emspay_birthday').value.match(/([12]\d{3}\/(0[1-9]|1[0-2])\/(0[1-9]|[12]\d|3[01]))/);
                    is_date ? set_buttons_disabled_state(false) : set_buttons_disabled_state(true);
                }

            })

            function set_buttons_disabled_state(state) {
                let primary_buttons = document.getElementById('confirmPaymentForm').getElementsByClassName("btn-primary");
                for (let button of primary_buttons) {
                    button.disabled = state;
                }
            }

        </script>
    {% endif %}
{% endblock %}
